*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-transform: uppercase;

}
/* .bxslaider-partner {
    width: 800px;
    margin: auto;
    justify-content: end;
    display: flex;
} */

.header-full-width {
    background: black;
}

.main-logo {
    width: 25%;
}

.main-menu {
    width: 75%;
}

.header {
    width: 1240px;
    margin: auto;
    display: flex;
}

.header-full-width {
    background: black;
    margin-bottom: 20px;
}

.main-logo {
    width: 25%;
    display: flex;
    justify-content: center;
}

.main-menu {
    width: 75%;
    align-items: center;
    display: flex;
    justify-content: end;
}

.header {
    width: 1240px;
    margin: auto;
    display: flex;
}



.main-menu nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.main-menu nav ul li a {
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    display: block;
    
    background: white;
    color: black;
}

.main-logo img {
    max-width: 100%;
}
.footer {
    background: gray;
    margin-bottom: 20px;
}

.footer-menu nav ul {
    list-style: none;
}

.footer-menu nav ul li a {
    text-decoration: none;
    padding: 15px;
    display: block;
    color: gold;
}
.footer-menu p {
    justify-content: center;
    display: flex;
    font-size: 21px;
    color: bisque;
    background: black;
}

.main-photo {
    width: 50%;
}

.main-text {
    width: 84%;
    font-size: 8px;
    background: lawngreen;
}

.main-body-item {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.main-photo img {
    max-width: 100%;
    display: flex;
}

.main-text h2 {
    max-width: 100%;
}

.main-body {
    padding: 15px;
}
.main-box {
    margin-bottom: 15px;
}
.main-box-photo {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-box-photo-1 {
    width: 17%;
}

.main-box-photo-1 img {
    max-width: 100%;
    display: flex;
    padding: 10px;
}
.contact-box-item-1 {
    width: 1240px;
    margin: auto;
    justify-content: center;
    display: flex;
}



.contact-box-item-1-photo {
    width: 40%;
}

.contact-box-item-1-text {
    width: 55%;
}

.contact-box-item-1-photo img {
    width: 100%;
    display: flex;
}

.contact-box-item-1-text h1 {
    font-size: 28px;
}

.contact-box-item-1-text h2 {
    /* padding: 20px; */
    font-size: 15px;
    line-height: 207%;
    padding-top: 20px;
}

.contact-box-item-1-text {
    padding: 43px;
    color: darkolivegreen;
    background: bisque;
}

h1 {}

.contact-box-item-1-text h3 {
    font-size: 18px;
    padding-top: 50px;
}

.contact-box-1 {
    margin-bottom: 20px;
}
.contact-box-item-2 {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}

.contact-box-item-2-text {
    width: 52%;
    padding: 23px;
    background: aqua;
}

.contact-box-item-2-photo {
    width: 43%;
}

h4 {}

.contact-box-item-2-text-4 {
    font-size: 27px;
}

.contact-box-item-2-text h4 {
    font-size: 24px;
}


.contact-box-item-2-text h5 {
    font-size: 13px;
    padding-top: 14px;
    line-height: 180%;
}

.contact-box-item-2-text h6 {
    font-size: 16px;
    padding-top: 30px;
}
.contact-box-item-2-photo img {
    max-width: 100%;
    display: flex;
}
<<<<<<< HEAD

.bxslaider-partner-main {
    margin: auto;
    width: 1240px;
    display: flex;
    justify-content: center;
=======
.about-1 {
    background: beige;
    margin-bottom: 23px;
}

.about-box-1 {
    width: 1240px;
    margin: auto;
}



.about-box-1 h1 {
    color: blue;
    font-size: 39px;
    padding: 51px;
}

.about-box-1 h2 {
    font-size: 33px;
    line-height: 191%;
    text-transform: lowercase;
}
.about-box-2 {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-transform: initial;
}

.about-box-2-text {
    width: 63%;
}

.about-box-2-photo {
    width: 41%;
}

.about-box-2-photo img {
    max-width: 100%;
}

.about-box-2-text h1 {
    font-size: 40px;
    padding: 30px;
}

.about-box-2-text h2 {
    font-size: 20px;
    line-height: 145%;
    padding: 30px;
}

.about-box-2-text h3 {
    font-size: 19px;
    line-height: 140%;
    padding: 30px;
}

.about-box-2-text h4 {
    font-size: 19px;
    line-height: 140%;
    padding: 20px;
}

.about-box-2-text h5 {
    font-size: 25px;
    padding: 17px;
>>>>>>> 2f63b9edc2b065ba2c2e7ce7af8a737c14413772
}